{%  extends 'base.html' %}

{%  block content %}

    <table id="dataTable" class="display">
        <thead>
            <tr>
                <th>Training Id</th>
                <th>name</th>
                <th>company</th>
                <th>phone</th>
            </tr>
        </thead>
        <tbody>
                {% for part in part_list %}
                <tr>

                    <td>{{part.training_id}}</td>
                    <td>{{part.name}}</td>
                    <td>{{part.company}}</td>
                    <td>{{part.email}}</td>

                </tr>
                {% endfor %}
        </tbody>
    </table>




{% endblock %}
