{%  load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>LMS</title>

    {% block extrahead %}
    {%  endblock %}

    <!-- CSS Sources here -->
    <link rel="stylesheet" href="{%  static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%  static 'css/simple-sidebar.css' %}">
    <link rel="stylesheet" href="{%  static 'css/lms.css' %}">

    <!-- Datatables themes/css -->
    <link rel="stylesheet" href="{%  static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{%  static 'css/jquery-ui.structure.css' %}">
    <link rel="stylesheet" href="{%  static 'css/jquery-ui.theme.css' %}">


    <!-- DataTables CSS -->
    <link rel="stylesheet" href="{%  static 'css/jquery.dataTables.css' %}">
    <link rel="stylesheet" href="{%  static 'css/jquery.dataTables_themeroller.css' %}">

    <script src="{% static 'js/jquery.js' %}"></script>


    <!-- c3 graph stuff -->
    <link rel="stylesheet" href="{%  static 'css/c3.css' %}">
    <script src="{% static 'js/c3.js' %}"></script>
    <script src="{% static 'js/d3.js' %}"></script>




</head>
<body>

    <div id="wrapper">

        <!-- Navigation -->
        <div id="sidebar-wrapper">


            <!-- Navbar Header -->
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="/admin">Admin</a></li>
                <li class="sidebar-brand"><a href="/schedule">schedule</a></li>
                <li class="sidebar-brand"><a href="/location">locations</a></li>
                <li class="sidebar-brand"><a href="/speaker">instructors</a></li>
                <li class="sidebar-brand"><a href="/uploads">uploads/roster</a></li>
                <li class="sidebar-brand"><a href="/reporting">reports</a></li>
                <li class="sidebar-brand"><a href="/photos">photos</a></li>
                <!-- <li class="sidebar-brand"><a href="/uploads/jm_detail">class</a></li> -->
            </ul>

        </div>
        <!-- End Navbar -->



        <div id="page-content-wrapper">
            <div class="container-fluid">

            <div class="col-lg-12">
                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">toggle menu</a>
                <div class="navbar-right">
                    {%  if not user.is_anonymous %}
                        {{ user }}
                    {% else %}
                        <a href="/login/?next=/schedule" class="btn btn-default">login</a>
                    {% endif %}
                    <a href="/logout/?next=/" class="btn btn-default">logout</a>
                </div>
            </div>
            <!-- /button and login div -->
                <div id="page-content">
                {% block content %}
                {% endblock %}
                </div>

            </div>
            <!-- /containter div -->
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- Div Wrapper end -->


    <!-- JS sources -->

    <script src="{% static 'js/bootstrap.min.js' %}"></script>


    <!-- DataTables -->
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>



    <script>
        $("#menu-toggle").click(function(e){
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

    <script>
        $(function() {
            $('#uploads').dataTable({
                auto_initialize: true,
                "pageLength":25,
                "bServerSide": true,
                "columns": [
                    {"title": "training_id"},
                    {"title": "name"},
                    {"title": "company"},
                    {"title": "email"},
                ]
            });
        });
        $(function() {
            $('#locations').dataTable({
                auto_initialize: true,
                "pageLength": 25,
                "bServerSide": true,
                "columns": [
                    {"title": "description"},
                    {"title": "street"},
                    {"title": "city"},
                    {"title": "state"},
                    {"title": "postal_code"},
                    {"title": "phone"},
                ]
            });
        });
        $(function() {
            $('#speaker').dataTable({
                auto_initialize: true,
                "pageLength": 25,
                "bServerSide": true,
                "columns": [
                    {"title": "last_name"},
                    {"title": "first_name"},
                    {"title": "email"},
                    {"title": "mobile_phone"},
                    {"title": "address_1"},
                    {"title": "address_2"},
                    {"title": "city"},
                    {"title": "state"},
                    {"title": "postal_code"},
                    {"title": "country"},
                ]
            });
        });
        $(function() {
           $("#schedule").dataTable({
              auto_initialize: true,
               "pageLength": 25,
               "bServerSide": true,
               "columns": [
                   {'title': "avnet_type_name"},
                   {'title': "jmw_name"},
                   {'title': "start_date"},
                   {'title': "end_date"},
                   {'title': "duration"},
                   {'title': "public"},
                   {'title': "class_status"},
                   {'title': "total_registered"},
                   {'title': "instructor_name"},
                   {'title': "tech"},
                   {'title': "labs"},
               ]
           });
        });
    </script>


</body>
</html>
