{% extends 'reporting_base.html' %}
{%  load staticfiles %}

{% block content %}

    <div id="chart">

    <p>
    {{ jm_2013 }}
    </p>
    </div>

<div class="panel panel-default">
    <div id="highlights" class="panel-body">
    </div>
</div>

    <script>
    var chart = c3.generate({
       bindto: '#chart',
       data: {
           columns: [
                   ['data1', 500, 400, 500, 689, 299, 899],
                   ['data2', 900, 231, 567, 444, 236, 778],
           ],
           axes: {
               data2: 'y2'
           } },
           axis: {
               y2: {
                   show: true
               }
       }
    });
    </script>

<script>
    $(function() {
       $("#highlights").highcharts({
          chart: {
              type: 'bar'
          },
           title: {
               text: 'Yearly Totals'
           },
           xAxis: {
               categories: ['2013', '2014', '2015']
           },
           series: [{
               name: 'Profit',
               data: [{{ jm_2013|safe }}, {{ jm_2014|safe }}, {{ jm_2015|safe }}]
           }, {
               name: 'Expenses',
               data: [80000, 165000, 189000]
           }]
       });
    });

    console.log();
</script>


{% endblock %}