{% extends 'reporting_base.html' %}


{% block content %}


    <div id='highlights_panel' class="panel panel-default">
        <div id="highlights" class="panel-body">
        </div>
    </div>

    <div id="chart">
    </div>

    <script>
    var chart = c3.generate({
       bindto: '#chart',
       data: {
           columns: [
                   ['data1', 500, 400, 500, 689, 299, 899],
                   ['data2', 900, 231, 567, 444, 236, 778],
           ],
           axes: {
               data2: 'y2'
           } },
           axis: {
               y2: {
                   show: true
               }
       }
    });
    </script>

<script>
    $(function() {
       $("#highlights").highcharts({
          chart: {
              type: 'bar'
          },
           title: {
               text: 'Yearly Totals'
           },
           xAxis: {
               categories: [ '2014', '2015']
           },
           series: [{
               name: 'Profit',
               data: [ {{ jm_2014|safe }}, {{ jm_2015|safe }}]
           }, {
               name: 'Facility Expense',
               data: [{{ facility_expense_2014|safe }}, {{ facility_expense_2015|safe }}]
           },{
               name: 'Instructor Expense',
               data: [{{ instructor_expense_2014|safe }}, {{ instructor_expense_2015|safe }}]
           }]
       });
    });

    console.log();
</script>


{% endblock %}