{%  extends 'base.html' %}

{%  block content %}
    <h1>Photo List</h1>

{% for photo in photo_list %}
    <div class="row">
        <div class="">
                <a href="" class="photo-media">
                    {{ photo.title }}
                    {{ photo.file}}</br>
                    <img src="{{photo.file.path}}" height="552" width="642">
                </a>
        </div>
        <div>
            <div class="photo-caption">
                {%  if photo.location or photo.circa %}
                    <p>{{ photo.location }}<br> {{ photo.circa }}</p>
                {% endif %}
                <p class="detail"><a href="/" class="btn btn-default btn-xs">detail</a> </p>
            </div>
        </div>

    </div>
{% endfor %}

    <p class="text-center space"><a href="/" class="btn btn-default">Home</a> </p>

{%  endblock %}
